

.tp-bg-blue {
    background: #20a8d8;
}

.tp-bg-indigo {
    background: #6610f2;
}

.tp-bg-purple {
    background: #6f42c1;
}

.tp-bg-pink {
    background: #e83e8c;
}

.tp-bg-red {
    background: #f86c6b;
}

.tp-bg-orange {
    background: #f8cb00;
}

.tp-bg-yellow {
    background: #ffc107;
}

.tp-bg-green {
    background: #4dbd74;
}

.tp-bg-teal {
    background: #20c997;
}

.tp-bg-cyan {
    background: #17a2b8;
}

.tp-bg-white {
    background: #fff;
}

.tp-bg-gray {
    background: #73818f;
}

.tp-bg-gray-dark {
    background: #2f353a;
}

.tp-bg-primary {
    background: #20a8d8;
}

.tp-bg-secondary {
    background: #c8ced3;
}

.tp-bg-success {
    background: #4dbd74;
}

.tp-bg-info {
    background: #63c2de;
}

.tp-bg-warning {
    background: #ffc107;
}

.tp-bg-danger {
    background: #f86c6b;
}

.tp-bg-light {
    background: #f0f3f5;
}

.tp-bg-dark {
    background: #2f353a;
}

.tp-bg-magento {
    background: #eb5202;
}

.tp-bg-tpots {
    background: #0099e5;
}

.tp-blue {
    color: #20a8d8;
}

.tp-indigo {
    color: #6610f2;
}

.tp-purple {
    color: #6f42c1;
}

.tp-pink {
    color: #e83e8c;
}

.tp-red {
    color: #f86c6b;
}

.tp-orange {
    color: #f8cb00;
}

.tp-yellow {
    color: #ffc107;
}

.tp-green {
    color: #4dbd74;
}

.tp-teal {
    color: #20c997;
}

.tp-cyan {
    color: #17a2b8;
}

.tp-white {
    color: #fff;
}

.tp-gray {
    color: #73818f;
}

.tp-gray-dark {
    color: #2f353a;
}

.tp-primary {
    color: #20a8d8;
}

.tp-secondary {
    color: #c8ced3;
}

.tp-success {
    color: #4dbd74;
}

.tp-info {
    color: #63c2de;
}

.tp-warning {
    color: #ffc107;
}

.tp-danger {
    color: #f86c6b;
}

.tp-light {
    color: #f0f3f5;
}

.tp-dark {
    color: #2f353a;
}

.tp-tpots {
    color: #0099e5;
}

.tp-magento {
    color: #eb5202;
}