

.row-tp {
    min-height: 1px;
    margin: 0 -10px;
}

.col-tp {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    float: left;
    padding: 0 10px;
}

/*All*/
.tp-1 {
    width: 8.33333333333%;
}

.tp-2 {
    width: 16.6666666667%;
}

.tp-3 {
    width: 25.0%;
}

.tp-4 {
    width: 33.3333333333%;
}

.tp-5 {
    width: 41.6666666667%;
}

.tp-6 {
    width: 50.0%;
}

.tp-7 {
    width: 58.3333333333%;
}

.tp-8 {
    width: 66.6666666667%;
}

.tp-9 {
    width: 75.0%;
}

.tp-10 {
    width: 83.3333333333%;
}

.tp-11 {
    width: 91.6666666667%;
}

.tp-12 {
    margin-left: 0;
    width: 100%;
}

.a-center {
    text-align: center;
}

.tp-clear {
    clear: both
}

@media (min-width: 1200px) {
    .tp-lg-1 {
        width: 8.33333333333%;
    }

    .tp-lg-2 {
        width: 16.6666666667%;
    }

    .tp-lg-3 {
        width: 25.0%;
    }

    .tp-lg-4 {
        width: 33.3333333333%;
    }

    .tp-lg-5 {
        width: 41.6666666667%;
    }

    .tp-lg-6 {
        width: 50.0%;
    }

    .tp-lg-7 {
        width: 58.3333333333%;
    }

    .tp-lg-8 {
        width: 66.6666666667%;
    }

    .tp-lg-9 {
        width: 75.0%;
    }

    .tp-lg-10 {
        width: 83.3333333333%;
    }

    .tp-lg-11 {
        width: 91.6666666667%;
    }

    .tp-lg-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .tp-md-1 {
        width: 8.33333333333%;
    }

    .tp-md-2 {
        width: 16.6666666667%;
    }

    .tp-md-3 {
        width: 25.0%;
    }

    .tp-md-4 {
        width: 33.3333333333%;
    }

    .tp-md-5 {
        width: 41.6666666667%;
    }

    .tp-md-6 {
        width: 50.0%;
    }

    .tp-md-7 {
        width: 58.3333333333%;
    }

    .tp-md-8 {
        width: 66.6666666667%;
    }

    .tp-md-9 {
        width: 75.0%;
    }

    .tp-md-10 {
        width: 83.3333333333%;
    }

    .tp-md-11 {
        width: 91.6666666667%;
    }

    .tp-md-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tp-sm-1 {
        width: 8.33333333333%;
    }

    .tp-sm-2 {
        width: 16.6666666667%;
    }

    .tp-sm-3 {
        width: 25.0%;
    }

    .tp-sm-4 {
        width: 33.3333333333%;
    }

    .tp-sm-5 {
        width: 41.6666666667%;
    }

    .tp-sm-6 {
        width: 50.0%;
    }

    .tp-sm-7 {
        width: 58.3333333333%;
    }

    .tp-sm-8 {
        width: 66.6666666667%;
    }

    .tp-sm-9 {
        width: 75.0%;
    }

    .tp-sm-10 {
        width: 83.3333333333%;
    }

    .tp-sm-11 {
        width: 91.6666666667%;
    }

    .tp-sm-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .tp-xs-1 {
        width: 8.33333333333%;
    }

    .tp-xs-2 {
        width: 16.6666666667%;
    }

    .tp-xs-3 {
        width: 25.0%;
    }

    .tp-xs-4 {
        width: 33.3333333333%;
    }

    .tp-xs-5 {
        width: 41.6666666667%;
    }

    .tp-xs-6 {
        width: 50.0%;
    }

    .tp-xs-7 {
        width: 58.3333333333%;
    }

    .tp-xs-8 {
        width: 66.6666666667%;
    }

    .tp-xs-9 {
        width: 75.0%;
    }

    .tp-xs-10 {
        width: 83.3333333333%;
    }

    .tp-xs-11 {
        width: 91.6666666667%;
    }

    .tp-xs-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-tp {
        width: 100%;
    }
}


