@import '_icons.less';

.admin__menu .item-menu.parent.level-0 > a:before {
  content: @tpotscore-icons_content;
  font-family: @tpotscore-icons__font-name;
  font-size: 2.4rem;
  position: relative;
  top: -0.4rem;
}

.tpots-extensions .title:before {
  content: '';
  background-image: url("../Tpots_Core/images/Tpots_logo_black_transparent.svg");
  background-repeat: no-repeat;
  height: 30px;
  display: inline-block;
  width: 125px;
  vertical-align: bottom;
}
ul[role="menu"] [data-ui-id^="menu-tpots-core-menu"] strong:before {
  content: @tpotscore-icons_content;
  font-family: @tpotscore-icons__font-name;;
  font-size: 1.6rem;
  margin-right: .8rem;
}