@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/tpotscore-icons.eot?k00gon');
    src:  url('../fonts/tpotscore-icons.eot?k00gon#iefix') format('embedded-opentype'),
      url('../fonts/tpotscore-icons.ttf?k00gon') format('truetype'),
      url('../fonts/tpotscore-icons.woff?k00gon') format('woff'),
      url('../fonts/tpotscore-icons.svg?k00gon#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-black-tpots-transparent-icon:before {
    content: "\e900";
  }
  