@tpotscore-icons__font-name: 'Tpots Icons';
@tpotscore-icons__file-name: 'tpotscore-icons';
@tpotscore-icons__font-name-path: '@{baseDir}Tpots_Core/fonts/@{tpotscore-icons__file-name}/@{tpotscore-icons__file-name}';
@tpotscore-icons_content:"\e900";


@icons-avada__font-name: 'Avada Icons';
@icons-avada__file-name: 'avada-icons';
@icons-avada__font-name-path: '@{baseDir}Tpots_Core/fonts/@{icons-avada__file-name}/@{icons-avada__file-name}';
@icon-avada__content: '\e900';